aside {
    float: right;
    padding-left: 20px;
    width: 25%;
}

.isi {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-right: 25%;
    padding: 20px;
}

#kanan {
    margin-left: 10px;
    margin-right: 0px;
}

img {
    height: 50%;
    width: 50%;
}

a, a:hover {
    color: black;
}

b {
    display: block;
}

.sumber {
    color: blue;
}

main li, aside li {
    margin-bottom: 5px;
}